API/environment/config.env
Game/Recordings/
Game/Windows/
Binaries
Build
DerivedDataCache
Intermediate
Saved
.idea
__pycache__
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace